.close-session-container {
    position: absolute;
    z-index: 10;
    background-color: rgb(28, 27, 27, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding-top: 25%;
}

.close-session-pop-up {
    background-color: white;
    border: 1px solid #1c1b1b;
    height: 180px;
    width: 311px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn-container {
    display: flex;
    justify-content: space-between;
}

.close-light-btn {
    width: 70px;
    background-color: transparent;
    border: none;
    height: 38px;
    font-size: 20px;
    letter-spacing: 3px;
}

.close-dark-btn {
    width: 70px;
    border: none;
    background-color: #1c1b1b;
    color: white;
    height: 38px;
    border-radius: 15px;
    font-size: 20px;
    letter-spacing: 3px;
}
